
:root {
    --red: #ec0a18;
    --dk-green: #0e7e79;
    --off-white: #f7f7f6;
    --white: #ffffff;
    --lt-grey: #edf0f2;
}

body {
    background-color: var(--white);

   /*font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;*/
    
}

.inner-container {
    padding: 1rem;
    margin-left: 0.5rem;

    
}

.flex-container {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: 1.5rem;
}



/************* *Header* *********/

header {
    background-color: var(--off-white);
}

header a {
    text-decoration: none;
    display: block;
    
}

.menu a:hover,
.menu a:active {
    background-color: #f7f7f6;
    border-radius: 6px;
}

.menu li {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    size: 18px;
    line-height: 40px;
    text-align: left;
}

.menu li > hr.solid {
    border-top: 3px solid #bbb;
}

header nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    position: absolute;
    top: 8.5rem;
    left: 0;
    width: 100vw;
    background-color: var(--lt-grey);

}

img {
    width: 100px;
    height: 70px;
}


.toggle-btn svg {
    width: 4rem;
    background-color: #ffffff;
    border: none;

}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    font-weight: bold;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 33px;
    font-weight: bold;
    padding: 0 0 0.5rem;
    margin-top: 15px;
    
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding: 0 0 1.5rem;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: medium;
}

h5 {
    font-family:'Ubuntu', sans-serif; 
    font-size: 22px;
    font-weight: medium;
    color: var(--dk-green);
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight:normal;
}

.tab {
    font-family:'Ubuntu', sans-serif; 
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;

}

/*body {
    padding: 1.5rem;
}*/


/************* form ************/

input {
    padding: 0.5rem;
    border-radius: 4px;
}

 .search input[type="search"] {
    width: 100%;
    float: left;
    padding: 12px;
    border: 1px solid black;
    background-color: white;
    max-width: 400px;
    margin-left: 400px;
 }

 .search button {
    background-image: url(../img/search-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: 35px 35px;
    width: 3%;
    float: left;
    padding: 23px;
    background-color: #ec0a18;
    color: white;
    border-left: none;
    border-radius: 4px;
    background-position: left 5px center;
 }

 .icon-card {
    padding: 1rem;
    border: 1px solid var(--white);
 }


 .icon-card > div {
   
    height: 330px;
    background-color: var(--off-white);
    margin: 1rem 0.5rem;
    border-radius: 3px;
 }

.icon-card svg {
    width: 100px;
    padding: 0 0 1.5rem;
    margin-top: 10px;
    margin-left: 10px;
}

.submit-btn {
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 18px;
    font-weight: bold;
    background-color: #ec0a18;
    color: #ffffff;
    border: none;
    width: 60%;
    height: 47px;
    
}

.scroll-card {
    padding: 1.5rem;
}

.flex-items one {
    background-color: var(--dk-green);
    color: #f7f7f6;
   

}


.horizontal-content {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    grid-auto-flow: column;
    overflow: scroll;
    height: 260px;
    
   
}

.horizontal-content > div {
    /*flex: 0 0 225px;*/
    height: 260px;
    background-color: var(--off-white);
    margin: 1rem 0.5rem;
    border-radius: 3px;
    padding: 0.5rem;

}

.images-card {
    background-color: var(--lt-grey);
    padding: 1.5rem;
}


.card{  
    max-width: 23.75rem;
    margin: 0 auto;
    padding: 1.5rem;

}

.card-info {
    background-color: var(--white);
    padding: 4rem 0;
}

.green-btn {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--dk-green);
    border-radius: 4px;
    color: var(--white);
    border: none;
    width: 30%;
    padding: 0.5rem;
}

.newsletter {
    background-color: var(--red);
    color: var(--white);
    padding: 0.5rem;
}

.subscribe-btn {
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    border-radius: 7px;
    padding: 0.5rem;
    margin-top: 30px;
    
    
}

button {
    border-radius: 7px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0.5rem;
    margin-bottom: 30px;
}


  
.subscribe-btn:hover
.button:active {
    cursor: pointer;
}

/*********** Footer *********/


.footer-list {
    background-color: var(--white);
}


.menu-list li {
    font-family:'Ubuntu', sans-serif;
    font-size: medium;
    list-style: none;
    text-decoration: none;
    text-align: right;
    color: black;

  
}

.menu-list a {
    text-decoration: none;
    
}

.disclaimer {
    background-color: var(--lt-grey);
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p.bottom-info {
    line-height: 2rem;
}







